body {
    margin-top: 5%;
    overflow-x: hidden;
}

/*_____Style of the card_____*/

.hv-75 {
    height: 70vh !important;
}

.hv-75::-webkit-scrollbar {
    appearance: none;
    width: 2px;
    background-color: black;
}

.hv-75::-webkit-scrollbar-thumb {
    appearance: none;
    width: 2px;
    background: white;
}

.hv-10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2000;
}

.w100 {
    width: 100vw !important;
    margin: 0;
    padding: 0;
}

/*_____Style of the card_____*/


/*_____Style of the nav bar button_____*/
.add__button {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    text-shadow: 2px 2px 3px black, -2px -2px 3px white;
}

/*_____Style of the nav bar button_____*/



/*_____Style of the animation when we click on the button add, save, cancel or remove_____*/
.forms {
    height: 0;
    overflow: hidden;
    animation: showDown 1s forwards;
    opacity: 0;
}

.close {
    animation: reverse showDown 2s 1s forwards;
}

@keyframes showDown {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 100vh;
        opacity: 1;
    }
}

/*_____Style of the animation when we click on the button add, save, cancel or remove_____*/


/*_____Style of the principal container and three container inside_____*/

.gridCss {
    padding: 0;
    margin: 7% 0 0 0;
    display: grid !important;
    justify-content: space-around;
    grid-template-columns: 30% 30% 30%;
}

.container-fixed {
    position: fixed;
}

/*_____Responsive design_____*/
@media (max-width:1150px) {
    .gridCss {
        grid-template-columns: 40% 40%;
        margin: 7% 0 0 0;
    }

    .hv-75 {
        height: 70vh !important;
    }
}

@media (max-width: 1060) {
    body {
        transform: translateY(10vh);
        margin: 13% 0 0 0;
    }

    .hv-75 {
        height: 90vh !important;
    }
}

@media (max-width: 870px) {
    .gridCss {
        grid-template-columns: 90%;
        margin: 14% 0 0 0;
    }

    .hv-75 {
        height: 100vh !important;
    }
}

/*_____Style of the principal container and three container inside_____*/